.body {
    background-color: rgb(182, 207, 244);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.align {
    text-align: right;
}

.caption{
    font-size: medium;
    font-weight: 300;
    text-align: center;
}

.foot {
    font-size: 8px;
    color: #999999;
    text-align: center;
}

.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 1px #555555;
}

.mainbody {
    top: 114px;
    left: 114px;
    bottom: 64px;
    right: 114px;
    padding-right: 5px;
}

.footer {
    bottom: 5px;
    height: 10px;
    right: 5px;
    left: 5px;
    position: fixed;
    border-top: solid 1px #555555;
}